@model CvManagementMVC.Application.ViewModels.Cv.ListCvsForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                CandidateId
            </th>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CvList) {
        <tr>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.CandidateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Content);
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "ShowCv", new { id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteCv", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
